<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header">Notes</div>
<div>
    <div class="table-header">Title</div>
    <div class="table-header">Category</div>
    <div class="table-header">Author</div>
</div>
    <div th:each="note : ${notes}" class="table-row">
        <div th:text="${note.id}"></div>
      <div th:text="${note.title}"></div>
        <div th:text="${note.category}"></div>
        <div th:text="${note.author.firstName}"></div>
    </div>
</body>
</html>